<p style="color: green"><%= notice %></p>

<p>
  <h1>Вопросы теста "<%= @test.title %>" </h1>
  <%= link_to "Добавить новый вопрос", new_test_question_path %>
</p>

<% @test.questions.each.with_index do |qst, i| %>
  <div id="tests">
    <td><%= render inline: "#{i+1}. #{qst.body}" %></td>
  </div>
  <p>
    <%= button_to "Открыть", qst, method: :get, form: {style: 'display:inline-block;'} %> |
    <%= button_to "Удалить", qst, method: :delete, form: {style: 'display:inline-block;'} %>
  </p>
  </br>
<% end %>
