<h1>Badges</h1>
  
  <div class="col-md-1">
    <%= link_to t('.add_new'), new_admin_badge_path, class: "btn btn-link my-2 border" %>
  </div>
  
  <% @badges.each do |badge| %>
    <div class="row my-2">
      <%= image_tag(badge.image, size: 25, class: "col-sm-1 p-0 align-self-center", style: 'width:50px') if badge.image %>
      <span class="col-md-2 align-middle p-0"><%= badge.title %></span>
 
      <div class="col-md-2 mx-1">
        <%= link_to image_tag('edit.svg', size: 12), edit_admin_badge_path(badge) %> |
        <%= link_to image_tag('delete.svg', size: 12), admin_badge_path(badge), method: :delete %>
      </div>
    </div>
  <% end %>

<%= link_to t('nav_back'), root_path %>

