<nav class="navbar navbar-expand-sm border" style="background-color: #e3f2fd;">
  <div class="container ms-3 justify-content-start">
    <%= image_tag "test", size: "32", style: "margin-right: 5px" %> 
    <a class="navbar-brand pe-4 border-end border-primary border-3 align-self-center" style="height: 40px;" href=<%= root_path %>>TestGuru</a>
    
    <div class="container g-0 justify-content-start">
      <ul class="navbar-nav">      
        <% if current_user&.admin? %>
        <li class="nav-item">
          <a class="nav-link text-primary" href=<%= admin_tests_path %>>
            <%= image_tag "gear", class: "bi d-block mx-auto mb-1", size: 24 %>
            <%= t(".admin") %>
          </a>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link text-primary" href=<%= about_path %>>
            <%= image_tag "info", class: "bi d-block mx-auto mb-1", size: 24%>
            <%= t(".about") %>
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="container me-3 justify-content-end">
    <div class="dropdown pe-3">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src=<%= t('.f_pic') %> width="32" height="32" class="rounded-circle">
        <%= t(I18n.locale) %>
      </a>
      <ul class="dropdown-menu">
        <% I18n.available_locales.each do |locale| %>
          <li>
            <a class="dropdown-item" href=<%= url_for(locale: locale) %>><%= t(locale) %> </a>
          </li>
        <% end %>
      </ul>
    </div>

    <ul class="nav-sm navbar-nav ps-2 border-start border-primary border-3" style="height: 40px;">
      <% if current_user %>
        <li class="nav-item pe-2 border-end border-primary border-3 align-self-center"><%= t('welcome') %>, <b><%= current_user.first_name %></b> Guru</li>
        <li class="nav-item ps-2 align-self-center"><%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: "btn btn-primary", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .25rem; --bs-btn-font-size: .85rem;"%></li>      
      <% else %>
        <li class="nav-item align-self-center ps-1"><%= button_to t('.login'), new_user_session_path, method: :get, class: "btn btn-primary me-2" %></li>
        <li class="nav-item align-self-center"><%= button_to t('.register'),  new_user_registration_path, method: :get, class: "btn btn-primary" %></li>
      <% end %>
      </ul>        
    </div>
  </div>
</nav>