<h1 style="margin-bottom: 20px;"><%= t(".title") %> "<%= @result.test.title %>"</h1>

<%= form_with url: result_path(@result), method: :put do |form| %>
<%= render "shared/errors", object: @result %>

  <div class="card">
  <div class="card-header">
    <%= "#{ Question.model_name.human} № #{@result.answered_questions + 1}. #{@result.current_question.body}"  %>
  </div>
  <div class="card-body">
    <%= form.collection_radio_buttons :answer_id, @result.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.radio_button class: "form-check-input align-middle" %>
        <%= b.label class: "form-check-label ms-2 align-middle" %>
      </p>
    <% end %>
    <%= link_to t('.to_tests'), tests_path, class: "btn btn-primary" %>
    <%= form.submit t('.next'), class: "btn btn-success" %>    
  </div>
  <div class="card-footer text-muted">
    <%= "#{@result.answered_questions + 1} из #{@result.test.questions.count}" %> | 
    <% if @gist %> 
      <%= link_to "Gist: #{@gist.gist_id}", "https://gist.github.com/" + @gist.gist_id %>
    <% else %>
      <%= link_to t('.create_new_gist'), new_gist_result_path(@result), method: :post %>
    <% end %>
  </div>
</div>

<% end %>