<p>
  <%= @answer.question.body %>  
</p>

<p>
  <b> <%= t('helpers.lable.aswers.title') %></b>
  <%= @answer.body %>
</p>

<p>
  <b> <%= t('helpers.lable.aswers..correct') %></b>
  <%= @answer.correct %>
</p>

<div>
  <%= link_to t('nav_back'), admin_question_path(@answer.question) %>
</div>
