<p>
  <h1><%= t('.title') %> "<%= @test.title %>" </h1>
  <%= link_to t('.add_new'), new_admin_test_question_path %>
</p>

<% @test.questions.each.with_index do |qst, i| %>
  <div id="tests">
    <td><%= render inline: "#{i+1}. #{qst.body}" %></td>
  </div>
  <p>
    <%= button_to t('.open'), admin_question_path(qst), method: :get, form: {style: 'display:inline-block;'} %> |
    <%= button_to t('.edit'), edit_admin_question_path(qst), method: :get, form: {style: 'display:inline-block;'} %> |
    <%= button_to t('.delete'), admin_question_path(qst), method: :delete, form: {style: 'display:inline-block;'} %>
  </p>
  </br>
<% end %>

<%= link_to t('nav_back'), admin_tests_path %>

