<h1><%= t('.title') %> "<%= @question.test.title %>"</h1>
  
<%= render 'shared/errors', object: @question %>

<p>
  <%= render inline: @question.body %>
</p>

<h2><%= t('.subtitle') %></h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('.add_new'), new_admin_question_answer_path(@question) %> | 
<%= link_to t('nav_back'), admin_test_path(@question.test) %>
