<%= form_with model: [:admin, test] do |form| %>
  <%= render 'shared/errors', object: test %>

<div class="container-fluid m-0 col-lg-4">
  <div class="form-floating my-3">
    <%= form.text_field :title, class: "form-control", id: :test_title %>
    <%= form.label :title, for: :test_title %>
  </div>

  <div class="row g-2">
    <div class="form-floating col-lg-5">
    <%= collection_select(:test, :category_id, Category.all, :id, :title, { prompt: true }, { class: "form-select", id: "category_selector" }) %>
    <%= form.label :category, for: "category_selector" %>
    </div>

    <div class="form-floating col-lg-3">
      <%= form.select :level, (0..10).to_a, {}, class: "form-select", id: "level_selector" %>
      <%= form.label :level, for: "level_selector" %>
    </div>

    <% if !test.new_record? %>
     <div class="form-check mt-3 ms-2 align-self-center col-lg-2">
        <%= form.check_box :is_active, class: "form-check-input", id: "is_active_check" %>
        <%= form.label "Активный", class: "form-check-label", for: "is_active_check" %>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.submit test.new_record? ? t('.create') : t('.update'), class: "btn btn-primary col-lg-4 mt-3" %>
  </div>

  <%= link_to t('nav_back'), admin_tests_path, class: "btn btn-link mt-2"  %>

</div>
<% end %>
