 <div id="<%= dom_id test %>">
  <p>
    <strong><%= "#{test.title} (#{pluralize(test.questions.count, "question" )})" %></strong><br>
    <%= "#{test.category.title}, #{test.level_represent}" %><br>
    <%= "Автор: #{test.author.first_name} #{test.author.last_name}" %>
    
    <%= button_to "Открыть", admin_test_path(test), method: :get, form: {style: 'display:inline-block;'} %> |
    <%= button_to "Редактировать", edit_admin_test_path(test), method: :get, form: {style: 'display:inline-block;'} %> |
    <%= button_to "Удалить", admin_test_path(test), method: :delete, form: {style: 'display:inline-block;'}, data: { confirm: 'Are you sure?' } %>
    <hr/>
    </p>

  </p>

</div>
