<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
      <nav class="navbar" style="height: 20px; margin-top: 5px; margin-bottom: 5px; margin-right: 25px;">
        <div style="width: 50%; margin-top: 7px; text-align: left; float: left; vertical-align:middle;">
          <b><%= link_to "TestGuru", root_path, style: "margin-left:25px" %></b>
        </div>
        
        <div style="width: 50%; text-align: right; float: left;vertical-align:middle;">
          <% if user_signed_in? %>
            Welcome, <b> <%= current_user.name %></b> Guru
            <%= button_to "Выйти", destroy_user_session_path, method: :delete, style: "margin-right:25px; display:inline-block;" %>
          <% else %>
            <%= button_to "Войти", new_user_session_path, method: :get, form: { style: 'display:inline-block;' }, style: "margin-top: 5px; margin-right:5px;" %>
            <%= button_to "Зарегистрироваться",  new_user_registration_path, method: :get, form: { style: 'display:inline-block;' }, style: "margin-top: 5px; margin-right:25px; display:inline-block;" %>
          <% end %>
        </div>
      </nav>
    
    <br><hr/>
    
    <%= flash_msg %>

    <%= yield %>
    
    <%= render 'shared/footer' %>
  </body>
</html>
